h1 {
  color: #17317c;
}

h2 {
  color: #17317c;
}

h3 {
  color: #17317c;
}

h4 {
  color: #17317c;
}

p {
  color: ligth-grey;
}


a {
  text-decoration: none;
  color: #38312c;
  &:hover {
    text-decoration: none;
  }
}
