
/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.banner {
  color: #17307c;
  height: 100vh;
  max: 100%;
  top-margin: 0px;
  background-size: cover !important;
  background-image: linear-gradient(220deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 60%), image_url('middle_aged_changed.jpg');
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home-container {
  h1 {
    font-family: Arial;
    font-size: 45px;
    color: white;
    margin: -100px 0 0;
  }
  h2 {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  color: #17307c;
  text-align: center;
  margin-bottom: 25px;
  }
hr {
  border-top: 1px solid #17317c;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
  }
hr:after {
  content: image_url('house-mini.jpg');
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  color: #17317c;
  font-size: 18px;
  }
td {
  padding: 10px;
  }
}

.home-button {
  padding-bottom: 20px;
  padding-right: 15px;
  margin-top: 30px;
}

.home-main-box {
  width: 600px;
  margin: 0 auto;
}

.center-item {
  text-align: center;
}

.home-description {
  font-family: Arial;
  font-size: 16px;
  margin-bottom: 50px;
}

.home-items{
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.home-small-title {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  color: #17307c;
  text-align: center;
  margin-bottom: 20px;
}

.table-title-gold {
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  color: #ffcc66;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-title-blue {
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  color: #17307c;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-title-platinium {
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  color: #C0C0C0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
