/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.banner {
  color: #17307c;
  height: 100vh;
  max: 100%;
  top-margin: 0px;
  background-size: cover !important;
  background-image: linear-gradient(220deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 60%), image_url('middle_aged_changed.jpg');
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about-box {
}

.home-main-box {
  width: 600px;
  margin: 0 auto;
}

.home {
}

h1 {
  font-family: Arial;
  font-size: 60px;
  color: white;
  margin: -100px 0 0;
}

h2 {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  color: #17307c;
  text-align: center;
  margin-bottom: 50px;
}

hr.hr-home {
  border-top: 1px solid #17307c;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
hr.hr-home:after {
  content: image_url('favicon.ico');
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  color: #17307c;
  font-size: 18px;
}

.home-button {
  padding-bottom: 20px;
  padding-right: 15px;
  margin-top: 30px;
}

.center-item {
  text-align: center;
}

.home-description {
  font-family: Arial;
  font-size: 15px;
  width: 300px;
  margin-bottom: 50px;
}

.home-items {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.home-small-title {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  color: #17307c;
  text-align: center;
  margin-bottom: 20px;
}

.product-box {
}

.pricing-box {
}

.contact-box {
}
