/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  color: #17307c;
  height: 100vh;
  max: 100%;
  top-margin: 0px;
  background-size: cover !important;
  background-image: linear-gradient(220deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 60%), image_url('middle_aged_changed.jpg');
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home-title {
  font-family: Arial;
  font-size: 40px;
  color: white;
  margin: -100px 0 0;
}

.home-button {
  padding-bottom: 20px;
  padding-right: 15px;
  margin-top: 30px;
}

.home-subtitle {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  color: #17307c;
  text-align: center;
}

.about-box {
  width: 600px;
  margin: 0 auto;
}

.about-description {
  font-family: Arial;
  font-size: 15px;
  width: 300px;
}

.product-description {
  font-family: Arial;
  font-size: 15px;
  width: 200px;
}

.home-small-title {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  color: #17307c;
  text-align: center;
}

