.renter_info_block {
	background-color: #17317C;
	margin-top: 5px;
	border-radius: 0px 0px 10px 10px;
}

.renter_detail_block {
	background-color: #E7EDE3;
}

.renter_info_block h5 {
	color: #E7EDE3;
}

.renter_money_block {
	background-color: #17317C;
	margin-top: 5px;
	border-radius: 0px 0px 10px 10px;
}

.renter_money_block h5{
	color: #E7EDE3;
}

.renter_money_detail_block {
	background-color: #E7EDE3;
}

.renter_detail_block{
	padding-top: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: #17317C;
	border-radius: 0.5px;
	height: 215px;
	border-radius: 0px 0px 10px 10px;
}

.renter_money_detail_block {
	padding-top: 5px;
    border-style: solid;
	border-width: 2px;
	border-color: #17317C;
	border-radius: 0.5px;
	height: 215px;
	border-radius: 0px 0px 10px 10px;
}

.renter_name {
	font-family: 'Poppins', sans-serif;
}