.links-table-bottom {
display: flex;
justify-content: space-between;
}

.link-table-bottom-left {
  margin-left: 0;
}

 .glyphicon-home {
    font-size: 34px !important;
}

.div-table-row {
  display: flex;
}

.div-table-col {
  flex: 1;
  padding: 11px;
}

.div-table-col.description {
  flex: 2;
}
