<div class="container">


  <h1>Contracts History</h1>


  <%= render 'table' %>



  <br>
  <%= link_to 'Back', flats_path %>
 <!--  <%= link_to 'New rent', new_flat_contract_path(@flat) %> -->
</div>
