<div class="container">


    <ul class="list-inline" >
      <li><h1>Listing Contracts</h1></li>

      <li><%= link_to raw("<li class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"> edit </span>"), :class => "btn btn-default" %>
      </li>
    </ul>


  <%= render 'table' %>



  <br>

  <%= link_to 'New Contract', new_flat_contract_path(@flat) %>
</div>
