<div class="row">
  <div class="col-md-12">
    <div class="alert alert-warning alert-dismissable">

      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        ×
      </button>
      This accomodation has no rental agreement!
    </div>
  </div>
</div>
