<p>this is the financial page</p>

<div class = "finance_container">
 <i class="fa fa-user fa-2x"></i>
 <h4 class = "renter_name"><%= @flat.contracts.last.renter.first_name %> 
 <%= @flat.contracts.last.renter.last_name %></h4>
    <div class = "finance_line">
        <div class = "finance_column">
            <p>key1</p>
        </div>
        <div class = "finance_column">
            <p></p>
        </div>        
        <div class = "finance_column">
            <p>value1</p>
        </div>
    <!-- finance_line -->
    </div>
    <div class = "finance_line">
        <div class = "finance_column">
            <p>key</p>
        </div>
        <div class = "finance_column">
            <p></p>
        </div>        
        <div class = "finance_column">
            <p>value</p>
        </div>
    <!-- finance_line -->
    </div>
    <div class = "finance_line">
        <div class = "finance_column">
             <p>key</p>
        </div>
        <div class = "finance_column">
            <p></p>
        </div>        
        <div class = "finance_column">
             <p>value</p>
        </div>
    <!-- finance_line -->
    </div>
    <div class = "finance_line">
        <div class = "finance_column">
            
        </div>
        <div class = "finance_column">
            
        </div>        
        <div class = "finance_column">
            
        </div>
    <!-- finance_line -->
    </div>






<!-- container -->
</div>

