<p>this is the financial page</p>

<div class = "finance_container">
 <i class="fa fa-user fa-2x"></i>
 <h4 class = "renter_name"><%= @flat.contracts.last.renter.first_name %> 
 <%= @flat.contracts.last.renter.last_name %></h4>
    <div class = "finance_row">
        <div class = "finance_column">
            <p>key1</p>
        </div>
        <div class = "finance_column">
            <p></p>
        </div>        
        <div class = "finance_column">
            <p>value1</p>
        </div>
    <!-- finance_row -->
    </div>
    <div class = "finance_row">
        <div class = "finance_column">
            <p>key</p>
        </div>
        <div class = "finance_column">
            <p></p>
        </div>        
        <div class = "finance_column">
            <p>value</p>
        </div>
    <!-- finance_row -->
    </div>
    <div class = "finance_row">
        <div class = "finance_column">
             <p>key</p>
        </div>
        <div class = "finance_column">
            <p></p>
        </div>        
        <div class = "finance_column">
             <p>value</p>
        </div>
    <!-- finance_row -->
    </div>
    <div class = "finance_row">
        <div class = "finance_column">
            
        </div>
        <div class = "finance_column">
            
        </div>        
        <div class = "finance_column">
            
        </div>
    <!-- finance_row -->
    </div>

<div class="Table">
  <div class="Table-row Table-header">
    <div class="Table-row-item">Header1</div>
    <div class="Table-row-item">Header2</div>
    <div class="Table-row-item">Header3</div>
    <div class="Table-row-item">Header4</div>
  </div>
  <div class="Table-row">
    <div class="Table-row-item" data-header="Header1">row1 col1</div>
    <div class="Table-row-item" data-header="Header2">row1 col2</div>
    <div class="Table-row-item" data-header="Header3">row1 col3</div>
    <div class="Table-row-item" data-header="Header4">row1 col4</div>
  </div>
  <div class="Table-row">
    <div class="Table-row-item" data-header="Header1">row2 col1</div>
    <div class="Table-row-item" data-header="Header2">row2 col2</div>
    <div class="Table-row-item" data-header="Header3">row2 col3</div>
    <div class="Table-row-item" data-header="Header4">row2 col4</div>
  </div>
</div>





<!-- container -->
</div>

