<div class=container >
  <h1 class="text-center">Editing charges</h1>

  <%= link_to 'Back', contract_costs_path %>


    <%= render 'costform' %>


  <%= link_to 'Back', contract_costs_path(@contract) %>
</div>

