<div id="container">
  <h1 class="text-center">Editing charges</h1>

  


    <%= render 'costform' %>

  </div>

  
  <div class = "finance_container">
   <div class='finance-rows'>
    <div class = "finance_row">
      <div class="finance-key">
          <%= link_to 'Back', contract_costs_path, class: 'btn btn-default' %>
      </div>
      <div class = "finance_value">
        
      </div>
    </div>
  </div>
</div>


