
<!-- add navbar + link -->

<div class="banner">

  <div class="home-title">
    <h1>Welcome to Happy Home Management</h1>
  </div>

  <div class="home-button">
    <a class="submit-btn">Start saving time</a>
  </div>

</div>

