
<!-- add navbar + link -->

<div class="banner">

  <div class="home-title">
    <h1>Welcome du HHM</h1>
  </div>

  <div class="home-button">
    <a class="submit-btn">START SAVING TIME as an owner</a>
    <a class="submit-btn">START SAVING TIME as a renter</a>
  </div>

</div>

