
.submit-btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #667bb5;
  -webkit-box-shadow:inset 0px 1px 0px 0px #667bb5;
  box-shadow:inset 0px 1px 0px 0px #667bb5;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #17307c), color-stop(1, #3b559c) );
  background: linear-gradient( center top, #17307c 5%, #17307c 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#17307c', endColorstr='#3b559c');
  background-color:#17307c;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #17307c;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:16px;
  font-weight:bold;
  font-style:normal;
  height:38px;
  line-height:38px;
  padding: 0 15px;
  text-decoration:none;
  text-align:center;
  outline: 0;
  text-shadow:1px 1px 0px #000000;
}
.submit-btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3b559c), color-stop(1, #17307c) );
  background:-moz-linear-gradient( center top, #3b559c 5%, #17307c 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b559c', endColorstr='#17307c');
  background-color:#3b559c;
  color: #ffffff;
}
.submit-btn:active {
  position:relative;
  top:1px;
}

