.card {
  background-color: #d8ddce;
  min-height: 200px;
  margin-bottom: 40px;
}

.signal_action {
  background-color: red;
}

.square {
  min-height: 100px;
  min-width: 100px;
  margin: auto;
  background-color: #e7ede3;
}
