h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 45px;
  font-weight: bold;
  color: #17307c;
  text-align: center;
  margin-bottom: 25px;
}

h2 {
  color: #17317c;
}

h3 {
  color: #17317c;
}

h4 {
  color: #17317c;
}

p {
  color: black;
}

a {
  text-decoration: none;
  color: #38312c;
  &:hover {
    text-decoration: none;
  }
}

.bold-text {
  font-style: Arial;
  font-size: 14px;
  font-weight: bold;
}

