 // TO BE IMPROVED BEFORE ADDING

// table.table tr td .btn { display:none;}
// table.table tr:hover td .btn { display:inline-block;}

// table.table tr td {
//  padding : 20px;
// }

table.table tr td span {
  color: $gray-dark;
}

.table-history {
  & > tbody > tr > td {
    vertical-align: middle;
  }
}

