 // TO BE IMPROVED BEFORE ADDING

// table.table tr td .btn { display:none;}
// table.table tr:hover td .btn { display:inline-block;}

// table.table tr td {
//  padding : 20px;
// }

table.table tr td span {
  color: $gray-dark;
}

.table > tbody > tr > td {

  vertical-align: middle;
}

.table-title-gold {
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-title-blue {
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-title-platinium {
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.color-white {
  color: white;
}
