// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glyphicon-unchecked {
    font-size: 22px;
}

.glyphicon-edit {
    font-size: 22px;
}


.glyphicon-check {
    font-size: 22px;
}


.glyphicon-home {
    font-size: 22px;
}

